<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title>
        <%- defineContent('title') || 'مجله آموزشی راکت' %>
    </title>

    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/main.css">
    <%- style  %> 

</head>
<body class=" font-vazir">
    

    
    <%- body %> 


    <script src=""></script>

</body>
</html>